.div-work {
    background-color: #e5e5e5;
    max-width: auto;
    height: auto;
    box-shadow:
        inset 0px 11px 8px -10px #CCC,
        inset 0px -11px 8px -10px #CCC;
}

.work-title {
    padding-top:3.75rem;
    margin: 0;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 2.5rem;
}

.grid > div {
    text-align: center;
    font-size: 1.3rem;
  }

  .grid-title {
      padding: 10px 20px 10px 20px;
      border:3px solid #fca311;
      color:#fca311;
      text-align: center;
      box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  }

  .grid-name{
      text-align: left !important;
      padding-left: 6.25rem;
  }

  .grid-leiras {
    text-align: left !important;
    padding-right: 6.25rem;
    
  }

  .date-underline {
    padding-bottom: 0.625rem;
    border-bottom: 3px solid black;
  }

  .leiras-line {
    border-left: 3px solid black;
    padding-left: 1.25rem;
  }