.skillpicture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    z-index: -1;
}

.skill-div {
    display: fixed;
    position: relative;
}

.skill-p {
    color:black;
    position: absolute;
    top: 10%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    padding-bottom: 3.125rem;
}

.table {
    position: absolute;
    top: 20%;
    left: 65%;
    transform: translate(-50%, 0%);
}


td {
    padding: 10px 20px 0px 20px;
    font-size: 2rem;
    color:black;
    width: 100%;
    white-space: nowrap;
}


