.div-personal-bottom {
    background-color: #e5e5e5;
    max-width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 4.375rem;
    box-shadow: 
        inset 0px -11px 8px -10px #CCC; 
}

.div-personal-bottom > div {
  text-align: center;
  font-size: 1.3rem;
  padding: 10px 50px 20px 50px;
}

.icon {
    color: #fca311;
    font-size: 4rem !important;
}

