.footer {
    background-color: #656565;
    max-width: 100%;
    height: 9.375rem;
    text-align: center;
    padding-top: 1.875rem;
    
}

.footer-icon {
    color: #fca311;
    padding: 0 10px;
}

.footer-icon:hover {
    color:white;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  

  .email {
      color: #fca311;
      text-decoration: none;
  }